@import "fonts";

:root,
html {
  @apply font-sans bg-yellow text-grey text-min leading-tight;
}

@screen sm {
  :root,
  html {
    font-size: calc(18px + (22 - 18) * ((100vw - 600px)/(1200 - 600)));
  }
}

@screen lg {
  :root,
  html {
    @apply text-max;
  }
}

body {
  @apply min-h-screen flex flex-col;
}

h1, .h1 {
  @apply text-4xl font-serif mb-8 text-center;
}

h2, .h2 {
  @apply text-3xl font-serif mb-8 text-center;
}

h3, .h3 {
  @apply text-2xl font-serif mb-6 text-center;
}

h4, .h4 {
  @apply text-lg font-serif mb-5 text-center;
}

h5, .h5 {
  @apply text-md font-serif mb-4 underline font-bold text-left;
}

p, .paragraph {
  @apply mb-4;
}

@supports (text-align-last: left) {
  p, .paragraph {
    @apply text-justify;

    text-align-last: left;
    text-align-last: start;
  }
}

dt, .dt {
  @apply font-bold;
}

dd, .dd {
  @apply ml-6 mb-2;
}

a[href] {
  @apply font-bold;
}
