<div class="text-center" data-test-error-links>
  <ButtonBack data-test-error-links-back>Turn back</ButtonBack>
  <span>&bull;</span>
  <LinkTo @route='index' data-test-error-links-home>Go Home</LinkTo>
</div>
{{yield}}