<header class="w-full colors-reverse py-2 px-3 font-serif flex flex-col md:flex-row items-center justify-between">
  <LinkTo @route='index' class="flex" data-test-layout-main-logo>
    <div class="w-16 mr-2">
      {{svg-jar "logo"}}
    </div>
    <div class="leading-tight text-center">
      <div class="text-xl">Sophie Orta</div>
      <div class="text-lg font-normal">Web Developer</div>
    </div>
  </LinkTo>
  <nav class="mt-4 md:mt-0" data-test-layout-main-nav>
    <LinkTo @route='index' class="nav-link">Home</LinkTo>
    <LinkTo @route='work' class="nav-link">Work</LinkTo>
    <LinkTo @route='about' class="nav-link">About</LinkTo>
  </nav>
</header>

<main class="flex-auto py-8 flex flex-col items-center" data-test-layout-main-content>
  {{yield}}
</main>

<footer class="colors-reverse flex justify-between py-1 px-3">
  <span data-test-layout-main-copyright>&copy; Sophie Orta {{this.year}}</span>
  <a href="https://rebrand.ly/jd73ytjf7" class="font-bold" download data-test-layout-main-resume-link>Resume</a>
</footer>