<h1>About Me</h1>

<div class="w-full flex flex-col-reverse md:flex-row">
  <div class="w-full md:w-2/3 p-4" data-test-about-page-main>
    <h2 class="h3">Growing up</h2>
    <p>
      I grew up in Miami, Florida, USA in the 80s and 90s. And ever since I was young I had a fascination with technology.
      I would spend hours playing with (and sometimes breaking) anything that had buttons. And we were lucky enough to have a
      computer in our home, since my parents ran a small business. Ostensibly it was for taxes and such, but to me it was a
      wonder machine with many games and infinite possibilities. Sure, I played a lot of SimCity and Carmen Sandiego. But I
      also printed out birthday cards, wrote book reports, and occasionally I even did a little BASIC programming.
    </p>

    <p>
      I was a teenager when we first got an internet connection via AOL. And it wasn't long before I made a website of my own
      on Geocities about my favorite anime at the time (Slayers). Unfortunately, I don't have any record of what the URL was,
      but I think given the time period and subject matter, you can pretty much imagine what it was like.
    </p>

    <h2 class="h3">Now</h2>
    <p>
      I'm a professional Web Developer. I live in Ontario Canada with my partner and our rescue greyhound. My favorite way
      to spend my free time is playing video and tabletop games. But I also really enjoy camping, skiing, soccer, and tennis.
    </p>
  </div>
  <div class="colors-reverse p-4 w-full md:w-1/3 md:mx-4 md:rounded-lg" data-test-about-page-sidebar>
    <h2 class="h3">Stats</h2>

    <dl>
      <dt>Likes</dt>
      <dd>
        Video games, tabletop games, space, sci-fi, fantasy,
        airplanes, camping, birds, skiing, soccer, tennis,
        ice cream
      </dd>

      <dt>Dislikes</dt>
      <dd>Bananas, bagels, brie cheese</dd>

      <dt>Favorite Movie</dt>
      <dd>Jurassic Park</dd>

      <dt>Favorite Video Game</dt>
      <dd>Final Fantasy 6</dd>

      <dt>Favorite anime</dt>
      <dd>Evangelion</dd>

      <dt>Favorite pie</dt>
      <dd>Key lime</dd>

      <dt>Favorite podcast</dt>
      <dd>Friends at the Table</dd>
    </dl>
  </div>
</div>