<header class="colors-reverse">
  Logo
  nav
</header>

<main class="flex-auto">
  {{outlet}}
</main>

<footer class="colors-reverse flex justify-between py-1 px-3">
  <span>&copy; Sophie Orta 2020</span>
  <a href="https://rebrand.ly/jd73ytjf7" download class="font-bold">Resume</a>
</footer>