<header class="colors-reverse py-2 px-3 font-serif flex flex-col md:flex-row items-center justify-between">
  <LinkTo @route='index' class="flex">
    <div class="w-16 mr-2">
      {{svg-jar "logo"}}
    </div>
    <div class="leading-tight">
      <div class="text-3xl font-bold">Sophie Orta</div>
      <div class="text-2xl">Web Developer</div>
    </div>
  </LinkTo>
  <nav class="text-3xl font-bold mt-4 md:mt-0">
    <LinkTo @route='index' class="nav-link">Home</LinkTo>
    <span class="nav-link mx-4">Work</span>
    <span class="nav-link">About</span>
    {{!-- <LinkTo @route='work' class="nav-link">Work</LinkTo> --}}
    {{!-- <LinkTo @route='about' class="nav-link">About</LinkTo> --}}
  </nav>
</header>

<main class="flex-auto">
  {{outlet}}
</main>

<footer class="colors-reverse flex justify-between py-1 px-3">
  <span>&copy; Sophie Orta 2020</span>
  <a href="https://rebrand.ly/jd73ytjf7" download class="font-bold">Resume</a>
</footer>