<section class="min-h-screen flex flex-col items-center justify-center container">
  <h1 class="font-bold">People-first Web Development</h1>
  <h2 class="h4 font-bold">I am a full-stack software engineer with a passion for front-end development.</h2>
</section>

<section class="min-h-screen w-full colors-reverse flex items-center justify-center">
  <div class="container">
    <h3 class="h2">Me</h3>

    {{!-- TODO: rewrite --}}
    <p>
      I've learned a lot in my 5 years as a professional web developer. In that time, I've worked on API integrations,
      custom Content Management Systems, data migrations, and many responsive layouts. But I also recognize that there
      are still (and probably always will be) things for me to learn and improve upon. I love learning, so this actually
      works wout well for me. One of my main goals as a developer is to always strive for continuous improvement.
    </p>
    <p>
      But skills aren't all that I have going for me. I also have a passion for web development in general, and front-end
      development in particular. I care very much about the quality of things that I build. I regularly read articles to
      help myself stay current. And I have done presentations at company meetings on subjects like: CSS Preprocessors,
      Flexbox, Workflow & Automation, and most recently Progressive Web Apps.
    </p>
  </div>
</section>

<section class="min-h-screen flex flex-col items-center justify-center container">
  <h3 class="h2">Connect</h3>
  <div class="flex">
    <LinkExt @href='https://www.linkedin.com/in/sorta' class="mx-4" title="LinkedIn">
      {{svg-jar 'linkedin' class="w-12 h-12" alt="LinkedIn Logo"}}
    </LinkExt>
    <LinkExt @href='https://github.com/sorta' class="mx-4" title="GitHub">
      {{svg-jar 'github' class="w-12 h-12" alt="GitHub Logo"}}
    </LinkExt>
    <a href="mailto:orta.sophie@gmail.com" class="mx-4" title="Email">
      {{svg-jar 'mail' class="w-12 h-12" alt="Email Icon"}}
    </a>
  </div>
</section>